/* start  Main Rulez */

    body {
			height: 8000px	;}

   .container {width: 1170px;margin: auto;}
   .clearfix{ clear: both; }
/*End Main Rulez */



/* start  header */

  .header .slider {
    -webkit- background-image: url('../images/background.jpg');
    -moz-background-image: url('../images/background.jpg');
     -o- background-image: url('../images/background.jpg');
      background-image: url('../images/background.jpg');
   background-size: cover;
    height: 600px;
     }

  .header .slider .intro  { 
   
   padding-top: 200px;
    text-align: center;
     color: #FFF;
  }

  .header .slider .intro h2 {
   margin: 0 auto; 
   font-size: 50px;
   width: 600px;
   border-top: 6px solid #FFF;
   border-bottom: 6px solid #AAA;
   padding: 5px 0;

   }
   .header .slider .intro button {
      background: none;
      color: #FFF;
      margin-top: 20px;
      font-size: 20px;
      border: 2px solid #FFF;
      font-weight: bold; 
      padding: 10px 30px;
   }

  .header .navbar {
   background-color: #252F31;
   color: #FFF;
   overflow: hidden;
   }

  .header .navbar h2
  {float: left;
   text-transform: uppercase;
   }


    .header .navbar span {
    color: #2ecc71;
   }


    .header .navbar ul{list-style: none;padding-left: 0 ;overflow:  hidden;float: right;}

    .header .navbar ul li {float: left; padding: 10px}
/* End header */


/* Start features */

  .features{ overflow:hidden; padding-top: 50px; padding-bottom: 50px;}

  .features .feat { float: left; width: 33.33333%; height: 250px; background-color: #DDD; }
 
  .features .feat h2 {text-transform: uppercase;}
/*End features */




/* Start About Me */
  .about-me {background-color: #F2F2F2;overflow: hidden;}

  .about-me .image {float: left;width: 40%}

  .about-me .image img { width: 100% }

  .about-me .info {float: right;width: 60%}


  .about-me .info .Hobbies{overflow: hidden;margin: 40px;}

  .about-me .info .Hobbies > div {float: left;width: 50%;min-height: 100px}
/* End About Me */



/*Start My Skills */
  .My-skills {padding-top: 30px;padding-bottom: 30px;overflow: hidden;}


  .My-skills .skills,
  .My-skills .progress {width: 50%;float: left;}
/*End My Skills */



/*Start Resume */

   .resume {background-color: #F2F2F2;padding-top: 30px;padding-bottom: 30px;text-align: center;}
/* End Resume */



/*Start My Education */

  .My-Education {padding-top: 30px;padding-bottom: 30px;overflow: hidden;}


  .My-Education .Main,
  .My-Education .exp  {width: 50%;float: left;}
/*End My Education */


/*Start testemonies */

   .testemonies {background-color: #F2F2F2;padding-top: 30px;padding-bottom: 30px;text-align: center;}
/* End testemonies */



/* start portifelio */
  .portifelio {
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: ;
   text-align: center;
   }
 
  .portifelio .our-work {
    overflow: hidden;
  }
   .portifelio .our-work >div {
   float: left;
   width: 33.3333%;
   }

   .portifelio .our-work >div img {
    width: 95%;
    margin-bottom: 15px;
    margin: 10px;
    }
 /* End portifelio */


/* strat contact  */

   .contact {background-color: #252F31; overflow: hidden;}

  .contact h2 {color: #FFF;}

   .contact p { color: #6A6E71; }

  .contact .info,
  .contact .form { width: 50%; float: left ; }
/* End contact */


/* start footer */
 .footer { background-color: #191E22; color: white; padding: 20px 0; text-align: center;}
/* End footer */




